.header_theme{
  font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
  }

header {
    font-family: 'Pretendard-Regular';
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    line-height: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease-in;
    @include tablet{
      width: 100%;
      left: 0;
      transform: translateX(0);
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin:1.25rem auto 0;
      position: relative;
      ul {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        font-family: 'Pretendard-Regular';
        color: rgb(85, 80, 80);
        font-weight: 700;
        transition: 0.5s;
        justify-content: center;
        line-height: 30px;
        padding: 10px 20px;
        cursor: pointer;

          @include mobile{padding: 8px; gap: 0.6rem; font-size: 0.9rem;}
          li{padding: 3px 15px;
            line-height: 40px;
            @include mobile{padding: 3px 10px;}
          }
          .contact_box {
            color:#000;
            font-weight: 700;
            background-color: #595AFF60;
            backdrop-filter: blur(20px) saturate(1.7);
            border-radius: 999px;
            overflow: hidden;
          }
          
    }
  }
}
.scroll_menu {
    background-color: hsla(159, 32%, 76%, 0.7);
    backdrop-filter: saturate(1.7);
    border-radius: 50px;
    gap: 3rem;
    color: gray;
      @include mobile{gap: 0.2rem; padding: 8px; font-size: 0.9rem;}

    li{transition:0.3s ease-in; padding: 3px 15px;
      @include mobile{padding: 3px 8px;}
    }
    li.scroll_in {
      color:#000;
      font-weight: 700;
      background-color: rgb(213 241 233);
      backdrop-filter: saturate(1.7);
      border-radius: 999px;
      overflow: hidden;
    }
    
  }


